<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="header">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/calculator/calculation">Calculator</a></li>
                <li><a href="/calculator/calculation-results">History</a></li>
                <li><a href="/user/registration">Sign Up</a></li>
                <li><a href="/user/auth">Log in</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>